<p-dialog [(visible)]="modalOpen" [modal]="true" [closable]="false" [header]="modalHeader" [resizable]="false">
   <ng-template pTemplate="content">
    <form [formGroup]="amountForm" (ngSubmit)="saveAmount()">
      <div class="p-field">
        <label for="amount">Account Amount</label>
        <input
          id="amount"
          type="number"
          formControlName="amount"
          pInputText
          [(ngModel)]="amount"
          [ngClass]="{ 'p-invalid': amountForm.get('amount')?.invalid && amountForm.get('amount')?.dirty }"
        />
        <small class="p-error" *ngIf="amountForm.get('amount')?.invalid && amountForm.get('amount')?.dirty">
          Account amount must be a number.
        </small>
      </div>
      <div class="btns">
        <p-button type="submit" label="Save amount" [disabled]="amountForm.invalid"></p-button>
        <p-button type="button" (click)="closeModal()" label="Cancel"></p-button>
      </div>
    </form>
  </ng-template>
</p-dialog>