<p>Hello Admin, there are currently {{ usersArray?.length }} users in the database!</p>

<h2>Users Table</h2>
<p *ngIf="usersArray && usersArray.length === 0">No users as of now...</p>
<p-table [value]="usersArray" *ngIf="usersArray && usersArray.length > 0">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Id</th>
            <th>Balance</th>
            <th>Edit</th>
            <th>Trans</th>
            <th>Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.id }}</td>
            <td>{{ user.accountAmount | currency: "USD" }}</td>
            <td>
                <button pButton icon="pi pi-pencil" class="p-button-secondary" (click)="storeSelectedUser(user)" (click)="openEditUserModal()"></button>
            </td>
            <td>
                <button pButton icon="pi pi-credit-card" class="p-button-info" (click)="viewTransactions(user)" (click)="openTransactionsModal()"></button>
            </td>
            <td>
                <button pButton icon="pi pi-trash" class="p-button-danger" (click)="deleteUser(user)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-admin-edit-user-modal
(modalEditUserClosed)="closeEditModal()"
[modalEditUserOpen]="modalEditUserOpen"
></app-admin-edit-user-modal>